*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  color-scheme: light dark;

  --color-text: #333;
  --color-bg: #fff;
  --color-primary: #015a9c;
  --color-primary-light: #0579D1;
  --color-secondary-light: #e9e9e9;
  --color-secondary: #cdcdcd;
  --color-secondary-dark: #858585;
  --color-disabled: #757575;
  --color-disabled-light: #4a4a4a;
  --color-focus: #000;
}

html,
body {
  width: 400px;
}

body {
  font-family: 'Segoe UI Web (West European)','Segoe UI','-apple-system',BlinkMacSystemFont,Roboto,'Helvetica Neue',Helvetica,Ubuntu,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
  font-size: 100%;
  line-height: 1.5;
  color: var(--color-text);
  background: var(--color-bg);
  margin: 0;
  padding: 0.5rem;
  box-shadow: 0 0 0px 1px var(--color-secondary) inset;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-size: 1.35rem;
  margin: 0;
}

.icon {
  width: 1.25rem;
  height: 1.25rem;
  fill: currentColor;
}

.icon--inline {
  vertical-align: text-bottom;
}

.hint {
  color: #fff;
  background-color: var(--color-primary);
  border: 2px solid var(--color-primary);
  padding: .1rem .2rem;
}

.button-group {
  display: flex;
  gap: 8px;
  margin: 1.1rem 0;
}

.sliders-group {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 1rem;
}

.sliders {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 4px;
}

.slider {
  flex: 1;
}









.slider {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
}

.slider:focus {
  outline: none;
}

.slider::-webkit-slider-runnable-track {
  background-color: var(--color-secondary-light);
  border: 1px solid var(--color-secondary-dark);
  height: 0.5rem;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  margin-top: -.35rem;
  background-color: var(--color-primary);
  border-radius: 50%;
  height: 1.1rem;
  width: 1.1rem;
  border: 2px solid var(--color-primary);
}

.slider:hover::-webkit-slider-thumb {
  background-color: var(--color-primary-light);
}

.slider:focus::-webkit-slider-thumb {
  outline: 2px solid var(--color-focus);
  outline-offset: 2px;
}

.slider:disabled::-webkit-slider-thumb {
  background-color: var(--color-disabled);
  border-color: var(--color-disabled-light);
}

.slider::-moz-range-track {
  background-color: var(--color-secondary-light);
  border: 1px solid var(--color-secondary-dark);
  height: 0.5rem;
}

.slider:hover::-moz-range-track {
  background-color: var(--color-secondary);
}

.slider::-moz-range-thumb {
  background-color: var(--color-primary);
  border: none;
  border-radius: 50%;
  height: 1.1rem;
  width: 1.1rem;
}

.slider:focus::-moz-range-thumb{
  outline: 2px solid var(--color-focus);
  outline-offset: 2px;
}












.slider__label,
.slider__value {
  font-weight: bold;
}

.slider__value {
  color: var(--color-primary);
}

.slider__value.dimmed {
  color: var(--color-disabled);
}

.slider__controls {
  display: flex;
  gap: 4px;
}

details {
  margin: .5rem 0;
  background-color: var(--color-secondary-light);
}

details p {
  margin-top: 0;
}

details p,
details ul {
  cursor: default;
}

summary {
  cursor: pointer;
  border: 2px solid var(--color-secondary-dark);
}

summary:hover {
  background-color: var(--color-secondary);
}

summary:focus {
  outline: 2px solid var(--color-focus);
  outline-offset: 2px;
}

.box {
  padding: .5rem;
}

button {
  background-color: var(--color-primary);
  color: #fff;
  padding: 0.5rem;
  border: 2px solid var(--color-primary);
  outline: none;
}

button:not(:disabled):hover {
  background-color: var(--color-primary-light);
}

button:focus {
  outline: 2px solid var(--color-focus);
  outline-offset: 2px;
}

button[disabled] {
  background-color: var(--color-disabled);
  border-color: var(--color-disabled-light);
}

button[disabled],
input[disabled] {
  cursor: not-allowed;
}

.button-slider {
  display: inline-flex;
  padding: .2rem;
}

.switch {
  cursor: pointer;
  text-indent: -9999px;
  width: 60px;
  height: 32px;
  background-color: var(--color-secondary-light);
  display: block;
  border-radius: 32px;
  position: relative;
  border: 2px solid var(--color-secondary-dark);
}

.switch:hover {
  background-color: var(--color-secondary);
}

.switch:after {
  content: '';
  position: absolute;
  top: 4px;
  left: 4px;
  width: 20px;
  height: 20px;
  background-color: var(--color-secondary-dark);
  border-radius: 20px;
  transition: .3s;
}

.switch__input:checked + .switch {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}

.switch__input:checked + .switch:after {
  left: calc(100% - 4px);
  transform: translateX(-100%);
  background-color: #fff;
}

.switch__input:checked + .switch:hover {
  background-color: var(--color-primary-light);
}

.switch__input:focus + .switch {
  outline: 2px solid var(--color-focus);
  outline-offset: 2px;
}

.switch__label {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.high-contrast .switch:after {
  border: 10px solid transparent;
}

.high-contrast details {
  border: 1px solid transparent;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-text: #fff; /* YES */
    --color-bg: #2B2B2B; /* YES */
    --color-primary: #00345c;
    --color-primary-light: #0077CC;
    --color-secondary-light: #181818; /* YES */
    --color-secondary: #575757; /* YES */
    --color-secondary-dark: #7D7D7D; /* YES */
    --color-disabled: #6F7476; /* YES */
    --color-disabled-light: #9C9C9C; /* YES */
    --color-focus: #fff; /* YES */
  }

  body {
    box-shadow: 0 0 0px 1px var(--color-secondary) inset;
  }

  button {
    background-color: var(--color-primary-light);
    border-color: var(--color-primary-light);
  }

  button:not(:disabled):hover {
    background-color: var(--color-primary);
  }

  .hint {
    background-color: var(--color-primary-light);
    border-color: var(--color-primary-light);
  }

  .slider__value {
    color: #76c6ff;
  }

  .slider__value.dimmed {
    color: var(--color-disabled-light);
  }

  .slider::-webkit-slider-thumb {
    border-color: var(--color-primary-light);
    background-color: var(--color-primary-light);
  }

  .slider:hover::-webkit-slider-thumb {
    background-color: var(--color-primary);
  }

  .switch:after {
    background-color: #fff;
  }

  .switch__input:checked + .switch {
    background-color: var(--color-primary-light);
    border-color: var(--color-primary-light);
  }

  .switch__input:checked + .switch:hover {
    background-color: var(--color-primary);
  }
}

@media (prefers-reduced-motion) {
  .switch:after {
    transition: 0s;
  }
}
